.navbar {
  background: #222;
  padding: 10px;
}
.navbar a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}
.postCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 15px;
  border-radius: 6px;
}
.userCard {
  border: 1px solid #aaa;
  padding: 10px;
  margin: 10px;
}
.comments {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 2px solid #ccc;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
